* {
  font-family: maple-web, source-han-sans-traditional, sans-serif, 微軟正黑體;
  font-style: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;/* 解決手機端頁面的鼠標點擊出現藍色背景 */
  /* border: 1px solid rgb(255, 255, 255); */
}

html {
  background-color: #000;
  margin: 0;
}

body {
  background-color:#30388A;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  pointer-events: none; 
}

a{
  color: inherit;
}

.container:not(#blog) {
  max-width: 1920px;
  padding: 0 8%;
  margin: auto;
}
.blog .container {
  max-width: 1920px;
  padding: 0 5%;
  margin: auto;
}
.hashtag {
  width: 160px;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px 0; 
  color: #B1B5B5;
  font-weight: 400;
  text-align: center;
}
.normal-hover:hover {
  filter: brightness(1.15);
  cursor: pointer;
}
.light-hover:hover {
  filter: brightness(1.05);
  cursor: pointer;
}
.footer-menu > li:hover,
.menu ul li:hover {
  filter: brightness(1.25);
  cursor: pointer;
}
*::selection {
  color: #1A237E;
  background:#FFA3FF;
}


/* 導覽列css */
nav{
  padding: 12px 0;
  background-color: #000051;
  color: #C8D2D2;
  z-index: 10;
}
.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  box-shadow: 0px 1px 6px #000051ab;
}
.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #000051;
}

.logo img {
  vertical-align: middle;
  margin: 2px;
}
.hamburger div {
  height: 3px;
  width: 25px;
  background-color: #C8D2D2;
  margin: 5px 0 5px 5px;
}
.hamburger {
  display: none;
  margin-top:2px;
}
.icon-shop {
  position: absolute;
  top: 2px;
  right: 0;
  display: flex;
  padding: 8px;
}
.icon-shop > div {
  width: 35px;
  height: 35px;
  padding-right: 10%;
}
.icon-shop > div:nth-child(2){
  position: relative;
} 
.number{
 width: 13px;
 height: 13px;
 border-radius: 50%;
 background-color: #FC6FF0;
 color:#002695;
 padding-top: 2px;
 font-size: 70%;
 font-weight: 500;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 right: 5px;
 top: 0;
}
.menu ul {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-right:18px ;
}
.menu ul li {
  padding:12px;
}
.menu-en ul li{
  padding: 16px;
}
@media screen and (max-width: 1200px) {
  nav{
    padding:17px 10px;
    background-color: #000051;
  }
  .topnav {
    position: relative;
  }
  .topnav .menu {
    display: none;
  }
  .logo{
    width: 255px;
    margin: auto;
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .hamburger div {
    height: 2px;
    width: 24px;
  }
  .icon-shop {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 0;
  }
  .icon-shop > div {
    width: 33px;
    height: 33px;
  }
  .menu ul {
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  .topnav.responsive {
    display: block;
    position: relative;
  }
  .topnav.responsive .hamburger {
    position: absolute;
    top: 0;
    left: 0;
  }
  .topnav.responsive .menu {
    display: block;
    margin-top: 15px;
  }
  .topnav.responsive .menu ul {
    display: block;
  }
  .topnav.responsive .menu ul li {
    border-top: 2px solid #534BAE;
  }
}
@media screen and (max-width: 480px) {
  nav{
    padding:15px 8px;
  }
  .logo {
    width: 120px;
    margin: auto;
  }
  .hamburger{
    display: block;
    top:2px;
  }
  .hamburger div {
    height: 2px;
    width: 22px;
  }

  .icon-shop {
    position: absolute;
    top: 4px;
    padding: 0;
  }
  .icon-shop > div {
    width: 28px;
    height: 28px;
  }
  .number{
    width: 11px;
    height: 11px;
  }
  .topnav.responsive .hamburger {
    top: 2px;   
  }
}
/* 跑馬燈 */
.marquee-box{
  overflow: hidden;
  background-color: #6C58BC;
}
.marquee-text{
  white-space: nowrap;
  display:inline-block;
  margin-top:1px;
  margin-bottom:2px;
  color: #D4DBDB;
  font-size: 15px;
  position: relative;
  left: 20px;
  animation: right-to-left 40s linear -8s infinite;
  -webkit-animation: right-to-left 40s linear -8s  infinite;
  -moz-animation: right-to-left 40s linear -8s  infinite;
}

.marquee-text:hover{
  animation-play-state: paused;
}

@keyframes right-to-left{
  from{
    margin-left: 100%;
    transform: translateX(0%);
  }
  to{
    margin-left: 0;
    transform: translateX(-100%);
  }
}

@-webkit-keyframes right-to-left{
  from{
    margin-left: 100%;
    transform: translateX(0%);
  }
  to{
    margin-left: 0;
    transform: translateX(-100%);
  }
}

@-moz-keyframes right-to-left{
  from{
    margin-left: 100%;
    transform: translateX(0%);
  }
  to{
    margin-left: 0;
    transform: translateX(-100%);
  }
}


/* banner css */

.banner {
  margin: auto;
  background-color: #262929;
}

/* 左右邊fixed */
.top{
  width: 45px;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 99;
}
.message{
  width: 60px;
  position: fixed;
  right: 24px;
  bottom: 90px;
  z-index: 99;
}
.chatbox{
  width: 350px;
  background-color: #fff;
  position: fixed;
  right: 24px;
  bottom: 170px;
  z-index: 100;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  display: none;
}
.chat-header{
  background-color: #BDB7FF;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  box-shadow: 0px 3px 6px #00000029;
}
.chat-title{
  font-size: 14px;
  margin: auto;
  padding: 20px 30px;
  color: #534BAE;
  text-align: center;
  line-height: 1.2;
}

#chatbox .close{
  position: absolute;
  right: 13px;
  top: 10px;
}
.close {
  width: 15px;
  height: 15px;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  right: 5px;
  height: 15px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.today{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0;
  color: #B1B5B5;
}
.chat-speaker{
  width: 100%;
  display: flex;
  padding:5px 15px;
  margin-bottom:50px;
}
.profile-picture{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #534BAE;
  margin-right: 10px;
}
.chat-content{
  width: 65%;
}
.chat{
  border-radius: 15px;
  background-color:#E7E8E8;
  padding: 10px;
  color: #535353;
  margin: 5px 0;
}
.chat-en{
  line-height: 1.2;
}
.name, .time{
  font-size: 14px;
  color:#B1B5B5;
  margin-left: 5px;
}
.answer{
  width: 100%;
  height: 70px;
  border-top: 1px solid #C8D2D2;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 101;
  border-radius: 0 0 15px 15px;
}

.plus {
  position: relative;
  width:28px;
  height:28px;
  border-radius: 50%;
  background-color: #BDB7FF;
  margin-right: 15px;
}

.plus:before,
.plus:after {
  content: "";
  position:absolute;
  background:#fff;
}

/* the vertical line */
.plus:before {
  left:50%;
  top:8px; /* this defines how much black "border" there should be */
  bottom:8px;
  width:2px;
  transform:translateX(-50%);
}

/* the horizontal line */
.plus:after {
  top:50%;
  left:8px;
  right:8px;
  height:2px;
  transform:translateY(-50%);
}
.textarea{
  width: 85%;
  height: 38px;
  background-color: #E7E8E8;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 15px;
  color: #535353;
  border: 0px;
}

.side-banner{
  width: 125px;
  position: fixed;
  left: -130px;
  top: 60%;
  transform: translateY(-60%);
  z-index: 99;
  animation-name: show-up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes show-up{
  from{
    left: -130px;
  }
  to{
    left: 0;
  }
}

.bottom-banner{
  display: none;
}


.fake-cancel{
  position: absolute;
  top:-5px;
  right:-5px;
  width: 25px;
  height: 25px;
  background-color: #B1B5B5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-cancel .close:before, .fake-cancel .close:after{
  background-color:  #1A237E;
  right: 12px;
}

.real-cancel{
  color: #fff;
  opacity: 0.8;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* homeProducts css */

#homeProduct .row,
#needProduct .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#homeProduct .column,
#needProduct .column {
  width: 25%;
}
.product-box {
  padding: 0 2%;
  margin-bottom: 50px;
}
.two-image {
  position: relative;
  width: 100%;
}
.product-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.two-image:hover > .product-cover {
  opacity: 0;
}
.two-image:hover > .product-hover {
  opacity: 1;
}
.chapter {
  padding: 0 4%;
  margin: 5px 0;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}
.price-container {
  padding: 0 4%;
  margin: 0;
  color: #000;
}
.price-line {
  text-decoration: line-through;
  color: #FFF;
  font-size: 14px;
}
.sale {
  color: #FC6FF0;
  font-size: 22px;
  font-weight: 500;
  padding-left: 2px;
}
.button-more {
  width: 160px;
  margin: 20px auto;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #9389FF;
}
.button-more:active{
  color: #FC6FF0;
}

/* 二手專區 css */
.second-hand {
  background-image: url(../img/bg_home_secondHand@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin-top: 80px;
}
#secondHand .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#secondHand .column {
  width: 50%;
}
.second-hand-image-box {
  padding: 10px 2%;
}

/* 部落格 css */

.blog{
  padding-bottom:100px;
  background-color: #625CA8;
} 
.blog .hashtag{
  padding: 40px 0 30px 0; 
  color: #C8D2D2;
} 
.blog-box {
  padding: 10px 2%;
}
.blog-title {
  padding: 0 10px;
  font-size: 28px;
  margin: 15px 0;
  color: #fff;
  font-weight: 500;
}
.date {
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  color: #BDB7FF;
}

/* footer css */
footer {
  background-color: #000;
  padding:10px 2%;
}
footer > .container{
  border-bottom: 2px solid #3E4141;
}
footer > .container > .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-sns {
  display: flex;
  padding: 10px;
}
.icon-sns div {
  width: 30px;
  margin-right: 10px;
}
footer .footer-menu-container{
  display: flex;
  width: 100%;
}

footer .footer-menu-container .column {
  display: flex;
  padding: 0;
  margin: 10px 0;
}
.footer-menu li {
  list-style-type: none;
  padding: 0 15px 10px 15px;
  color: #B1B5B5;
  text-decoration: none;
  font-size: 16px;
}
.copyright {
  color: #B1B5B5;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}

.language{
  display: flex;
  align-items: flex-end;
  color:#B1B5B5; 
  margin-bottom: 5px;
}
.language div{
  padding: 0 5px;
}

/* 商品頁 */
article {
  margin-top: 40px;
}
#productInfo .row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 2%;
  align-items: flex-start;
}
#productInfo img{
  padding:0 5% 0 2%;
}
#productInfo .row .column {
  width: 50%;
}
.info-box {
  padding-left: 2%;
}
.graphic-novel {
  width: 50%;
  margin-bottom: 20px;
}
.purple{
 background-color: #534BAE; 
 height: 500px;
 width: 100%;
}
.title {
  color: #fff;
  font-size: 36px;
  text-align: justify;
  font-weight: 500;
}
.title-en{
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
  /* margin: 20px 0; */
}
.original-price-label{
  color: #fff;
  font-size: 16px;
}
.price-container-big {
  font-size: 16px;
  color: #fff;
  text-decoration: line-through;
}
.sale-label{
  padding-left: 5px;
  color: #fff;
}
.sale-big {
  font-size: 32px;
  font-weight: 500;
}

.product-description {
  color: #fff;
  margin-bottom: 40px;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  min-height: 100px;
  overflow: auto;
}
.product-description-en{
  color: #fff;
  margin-bottom: 40px;
  line-height: 1.3;
  font-size: 18px;
  min-height:120px;
  overflow: auto;
}

details{
  color: #BDB7FF;
}
details p{
  margin: 5px 0; 
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track { 
  background: #343d9e; 
  box-shadow: inset 0 0 2px #000051; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:#251283; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9389FF; 
}

.counter-buttonCart-box {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
}
.counter {
  display: flex;
  font-size: 18px;
  border: 1px solid #B1B5B5;
}
.counter-buttonCart-box .counter input {
  padding: 6px 10px;
  border: 1px solid #B1B5B5;
  background-color: #30388A;
  outline: none;
}
.counter-buttonCart-box label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #B1B5B5;
}
.quantity{
  display: block;
}
.Qty{
  display: none;
}
#count {
  width: 30px;
  text-align: center;
  color: #B1B5B5;
}
#plus,
#minus {
  cursor: pointer;
  color: #B1B5B5;
}
.button {
  font-size: 24px;
  font-weight: 500;
  border-radius: 50px;
  color: #1A237E;
  background-color: #FC6FF0;
  outline: none;
  border: 2px solid #FC6FF0;
  padding: 12px 0;
}
#productInfo .button{
  width: 50%;
  position: absolute;
  right: 0;
}
.button:active {
  border: 2px solid #FC6FF0;
  background-color: transparent;
  color: #FC6FF0;
  border-radius: 50px;
}
.border-line {
  color: #B1B5B5;
  border-top: 2px solid #B1B5B5;
  width: 50%;
  padding: 30px 0px;
  margin-top: 60px;
}
#needProduct{
  margin-bottom: 80px;
}

/* login page */
.login{
text-align: center;
margin: auto;
padding-top: 80px;
padding-bottom: 150px;
max-width: 400px; 
}
.login h1{
  font-size: 36px;
  color: #BDB7FF;
  font-weight: 500;
}
.login .button{
  width: 100%;
}
.mini-click{
  font-size: 16px;
  font-weight: 400;
  color: #BDB7FF;
  text-align: end;
  padding: 7px;
}
.login input{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-left:20px;
  outline: 2px solid #BDB7FF;
  border: none;
  font-size: 20px;
  background-color:#30388A;
}
input[type="email"],textarea{
  color: #fff;
} 
input[type="password"],textarea{
  color: #fff;
} 
.login input:focus{
  outline: 2px solid #FFF
}

::placeholder{
  color:  #BDB7FF;
}
.input-container{
  margin-bottom: 20px;
}
/* About */
#about{
  margin-bottom: 50px;
}
#about .row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  align-items: flex-start;
}

#about .column{
  width: 50%;
}
#about .column:last-child{
  padding-left: 2%;
}
.about-content{
  color: #fff;
  margin-bottom: 40px;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
}

.about-content-en{
  color: #fff;
  margin-bottom: 40px;
  line-height: 1.3;
  font-size: 18px;
}
.credt{
  color: #BDB7FF;
  line-height: 1.3;
  font-size: 15px;
}
/* sale */
#sale{
  background-color:#534BAE;
}
#sale .container{
  padding-top: 15px;
}
.sale-banner{
  z-index: 2;
  background-color: #534BAE;
  width: 100%;
}
.sale-background{
  background-image: url(../img/bg_sale.png), url(../img/bg_sale.png);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: right top, left top;
}
#sale .row{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sale .column {
  width: 33%;
}

.sale-menu {
  color: #BDB7FF;
  text-align: center;
  border-bottom: 2px solid #BDB7FF;
  display: flex;
  justify-content: space-around;
  background-color: #534BAE;
}

.sale-menu a{
  padding:10px 0 13px 0;
  width: 33.3%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.sale-menu a:link{
  background-color: #534BAE;
  color: #BDB7FF;
}
.sale-menu a:hover{
  background-color:#BDB7FF;
  color:#30388A ;
}
#homeDécor{
  background-color: #4560CC;
}

.sale-title{
  color:#FFA3FF;
  font-weight: 500;
  font-size: 52px;
  padding:30px 5% 20px 5%;
  margin: 0;
}
#sale .chapter, #sale .price-container{
  text-align: center;
}
#sale .button{
  width: 85%;
  margin-top: 8px;
}
.twentyFour{
  width: 150px;
  margin:20px auto;
}
.sale-top{
  text-align: right;
  padding: 0 5% 25px 0; 
}
.sale-top img{
  width: 45px;
} 


/* 手機直式、橫式 */
@media screen and (max-width: 767px) {
  .container:not(#blog, #myTopnav, #homeProduct) {
    padding: 0 2%;
  }
  /* .container滿版  */
  #blog,
  .container #myTopnav,
  #homeProduct{
    padding: 0;
  }
  #saleMenu{
    padding: 0 !important;
  }
  #homeProduct .column,
  #needProduct .column {
    width: 50%;
  }
  #secondHand .column,
  #productInfo .row .column,
  footer > .row > .column,
  .graphic-novel,
  #about .column,
  #sale .column  {
    width: 100%;
  }
  .purple{
    height: 350px;
   }

  .marquee-text{
    animation: right-to-left 30s linear -4s infinite;
    -webkit-animation: right-to-left 30s linear -4s  infinite;
    -moz-animation: right-to-left 30s linear -4s  infinite;
  }

  .hashtag,
  .chapter {
    font-size: 15px;
  }

  .top{
    width: 37px;
    bottom: 25px;
    right: 25px;
  }
  .message{
    width: 50px;
    right: 20px;
    bottom: 77px;
  }
  .chatbox{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom:0;
    left: 0;
    border-radius: 0;
  }
  .chat-header{
    border-radius: 0;
  }
  .chat-speaker{
    margin-bottom: 20px;
  }
  .answer{
    position: absolute;
    bottom: 0;
  }

  .chapter,
  .price-container {
    padding: 0 2%;
  }
  .button-more {
    margin: 20px auto;
  }
  .blog-box {
    padding: 10px;
  }
  .blog-title {
    font-size: 26px;
  }
  .date {
    font-size: 13px;
  }
  footer .container {
    padding: 0 2%;
  }
  footer > .container > .row {
    display: block;
  }
  footer .footer-menu-container{
    display: block;
    width: 100%;
  }
  footer .footer-menu-container .row {
    width: 100%;
    display: block;
  }

  footer .footer-menu-container .column {
    padding: 0; 
    width: 100%;
  }

  footer .footer-menu .column li{
    font-size: 14px;
    padding: 0;
    width: 33%;
  }

  .language{
    font-size: 14px;
  }
  .copyright {
    padding: 10px;
    font-size: 12px;
  }
  #productInfo img{
    margin-top: 20px;
  }
  article {
    margin-top: 0px;
  }
  .info-box {
    padding: 0;
  }
  .product-description {
    margin-bottom: 15px;
    font-size: 16px;
    height: auto;
    min-height:unset;
  }
  .product-description-en{
    min-height:unset;
  }

  .title {
    font-size: 28px;
  }
  .price-container-big {
    font-size: 20px;
  }
  .sale-big {
    font-size: 32px;
  }

  .counter-buttonCart-box {
    margin-top: 30px;
  }
  .counter-buttonCart-box  label {
    margin-right: 5px;
  }
  .quantity{
    display: none;
  }
  .Qty{
    display: block;
    font-size: 16px;
    /* letter-spacing: 1px; */
  }
  .border-line {
    width: 100%;
  }
  .button {
    font-size: 20px;
  }
  #productInfo .button{
    width: 55%;
  }
  .login{
    width: 80%; 
    padding-top: 50px;
    }
  .login h1{
    font-size: 28px;
   }
   #about .row {
    padding: 30px 2%;
  }
  #about .column:last-child{
    padding-left: 0;
  }
  .about-content{
    font-size: 16px;
  }
  #sale .container{
    padding-top: 20px;
  }
  .sale-background{
    background-size:12px;
  }
  .sale-menu{
    justify-content: space-between;
  }
  .sale-title{
    font-size: 32px;
  }
  .sale-top{
    text-align: right;
    padding: 0 25px 25px 0; 
  }
  .sale-top img{
    width: 37px;
  }

}

/* 手機橫向 */
@media screen and (max-width: 896px) and (orientation:landscape) {
  .side-banner{
    display: none;
  }
  .bottom-banner{
    display: block;
    width: 260px;
    position: fixed;
    bottom:-190px;
    z-index: 99;
    animation-name: bottom-show-up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  
   @keyframes bottom-show-up{
    from{
      bottom: -190px;
    }
    to{
      bottom: -10px;
    }
  }
  
  #secondHand .column{
    width: 50%;
  }
  
}

/* 平板直式 */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .container:not(#blog) {
    padding: 0 2%;
  }
  #blog{
    padding: 0;
  }

  .blog-box {
    padding: 10px 20px;
  }
  #homeProduct .column,
  #needProduct .column {
    width: 50%;
  }
  #productInfo .row .column,
  #about .column {
    width: 100%;
  }
 
  .graphic-novel,
  footer > .row > .column {
    width: 100%;
  }
  footer > .row {
    display: block;
  }
  footer .footer-menu {
    display: inline;
    padding: 0;
  }
  footer .footer-menu .row {
    justify-content: space-between;
  }
  .product-description {
    margin-bottom: 20px;
  }
  .border-line {
    width: 100%;
  }
  .button {
    font-size: 20px;
  }
  #about .column:last-child{
    padding-left: 0;
  }
  .sale-background{
    background-size:15px;
  }
  .sale-title{
    font-size: 46px;
  }
}

/* 平板橫式 */
@media screen and (min-width: 980px) and (max-width: 1024px) {
  .container:not(#blog) {
    padding: 0 2%;
  }
  #blog{
    padding: 0;
  }
  .product-description{
    height: auto;
    margin-bottom: 20px;
  }
}