* {
  color: #7fc2c1;
  font-family: maple-web, source-han-sans-traditional, sans-serif, 微軟正黑體;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

html {
  background-color: black;
  margin: 0;
}

body {
  background-color: #042b45;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.container:not(#blog) {
  max-width: 1920px;
  padding: 0 8%;
  margin: auto;
}
.blog .container {
  max-width: 1920px;
  padding: 0 5%;
  margin: auto;
}

.inline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hashtag {
  width: 160px;
  margin: 40px auto;
  color: #dee6c7;
  text-align: center;
}

.normal-hover:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.footer-menu > li:hover,
.menu ul li:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

/* 導覽列css */
.nav-fixed {
  position: fixed;
  width: 100%;
  background-color: #042b45;
  z-index: 10;
  top: 0;
  right: 0;
}

.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 280px;
}
.logo img {
  vertical-align: middle;
  margin: 2px;
}
.hamburger div {
  height: 3px;
  width: 25px;
  background-color: #7fc2c1;
  margin: 4px 0 5px 0;
}
.hamburger {
  display: none;
}
.icon-shop {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  padding: 10px;
}
.icon-shop div {
  width: 38px;
  height: 38px;
  padding-left: 5%;
}
.menu ul {
  font-size: 24px;
  list-style-type: none;
  display: flex;
  margin: 0px;
  background-color: #042b45;
}
.menu ul li {
  padding: 10px;
}
@media screen and (max-width: 1200px) {
  .topnav {
    position: relative;
  }
  .topnav .menu {
    display: none;
  }
  .logo {
    width: 180px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .hamburger div {
    height: 3px;
    width: 26px;
    margin: 5px 0 6px 0;
  }
  .icon-shop {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
  }
  .icon-shop div {
    width: 35px;
    height: 35px;
  }
  .menu ul {
    padding: 0;
    font-size: 18px;
    text-align: center;
  }
  .topnav.responsive {
    display: block;
    position: relative;
  }
  .topnav.responsive .hamburger {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .topnav.responsive .menu {
    display: block;
    margin-top: 15px;
  }
  .topnav.responsive .menu ul {
    display: block;
  }
  .topnav.responsive .menu ul li {
    border-top: 2px solid #256a85;
  }
}
@media screen and (max-width: 480px) {
  .hamburger div {
    height: 3px;
    width: 25px;
    margin: 4px 0 5px 0;
  }

  .icon-shop {
    position: absolute;
    top: 0;
    padding: 0;
  }
  .icon-shop div {
    width: 27px;
    height: 27px;
  }
}

/* banner css */

.banner {
  margin: auto;
}
.banner div {
  cursor: pointer;
}

/* homeProducts css */

#homeProduct {
  margin-top: 50px;
}
#homeProduct .row,
#needProduct .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#homeProduct .column,
#needProduct .column {
  width: 25%;
}
.product-box {
  padding: 0 2%;
  margin-bottom: 50px;
}

.two-image {
  position: relative;
  width: 100%;
}

.product-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.two-image:hover > .product-cover {
  opacity: 0;
}

.two-image:hover > .product-hover {
  opacity: 1;
}

.chapter {
  padding: 0 4%;
  margin: 5px 0;
  color: #dee6c7;
  font-size: 18px;
}

.price-container {
  padding: 0 4%;
  margin: 0;
  color: #dee6c7;
}

.price-line {
  text-decoration: line-through;
  color: #dee6c7;
}

.sale {
  color: #7fc2c1;
  font-size: 24px;
  padding-left: 5px;
}

.button-more {
  width: 160px;
  margin: 60px auto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

/* 二手專區 css */
.second-hand {
  background-image: url(../img/bg_home_secondHand@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}

#secondHand .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#secondHand .column {
  width: 50%;
}
.second-hand-image-box {
  padding: 10px 2%;
}

/* 部落格 css */
.blog-box {
  padding: 10px 2%;
}

.blog-title {
  padding: 0 10px;
  font-size: 32px;
  margin: 15px 0;
}

.date {
  font-size: 16px;
  padding: 0 10px;
  color: #256a85;
}

/* footer css */
footer {
  background-image: url(../img/bg_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0 30px 0;
  margin-top: 50px;
}
footer > .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-sns {
  display: flex;
  padding: 10px;
}
.icon-sns div {
  width: 40px;
  margin-right: 10px;
}
footer .footer-menu,
footer .footer-menu .row {
  display: flex;
  padding: 0 2px;
  margin: 10px 0;
}
.footer-menu li {
  list-style-type: none;
  padding: 2px 10px;
  color: #256a85;
  font-weight: 700;
  font-size: 18px;
}

.copyright {
  color: #256a85;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
}

/* 商品頁 */
article {
  margin-top: 40px;
}
#productInfo .row {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 2%;
  align-items: flex-start;
}
#productInfo .row .column {
  width: 50%;
}
.info-box {
  padding-left: 2%;
}
.graphic-novel {
  width: 50%;
  margin-bottom: 20px;
}
h1 {
  color: #dee6c7;
  font-size: 36px;
  font-weight: 700;
  text-align: justify;
}
.price-container-big {
  font-size: 24px;
  color: #dee6c7;
  text-decoration: line-through;
}
.sale-big {
  font-size: 42px;
  font-weight: 700;
}
.product-description {
  margin-bottom: 50px;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
}
.counter {
  display: flex;
  align-items: center;
  position: relative;
}
.counter-select {
  display: flex;
  font-size: 18px;
  border: 1px solid #7fc2c1;
}
.counter .counter-select input {
  padding: 6px 10px;
  border: 1px solid #7fc2c1;
  background-color: #042b45;
  outline: none;
}
.counter label {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}
#count {
  width: 30px;
  text-align: center;
}
#plus,
#minus {
  cursor: pointer;
}
.button-cart {
  font-size: 24px;
  width: 50%;
  color: #dee6c7;
  background-color: #747222;
  outline: none;
  border: none;
  padding: 12px 0;
  position: absolute;
  right: 0;
}

.button-cart:active {
  border: 2px solid #747222;
  background-color: #042b45;
}

.border-line {
  border-top: 4px solid #256a85;
  width: 50%;
  padding: 30px 0px;
  margin-top: 60px;
}

/* 手機直式、橫式 */
@media screen and (max-width: 976px) {
  .container:not(#blog, #myTopnav, #homeProduct) {
    padding: 0 2%;
  }
  /* .container滿版  */
  #blog,
  .container #myTopnav,
  #homeProduct {
    padding: 0;
  }
  #homeProduct .column,
  #needProduct .column {
    width: 50%;
  }
  #secondHand .column,
  #productInfo .row .column,
  footer > .row > .column,
  .graphic-novel {
    width: 100%;
  }
  .hashtag,
  .chapter {
    font-size: 16px;
  }
  .chapter,
  .price-container,
  .info-box {
    padding: 0 2%;
  }

  .button-more {
    margin: 20px auto;
  }
  .second-hand-image-box {
    padding: 10px 5%;
  }
  .blog-box {
    padding: 10px;
  }
  .blog-title {
    font-size: 24px;
  }
  .date {
    font-size: 14px;
  }
  footer .container {
    padding: 0 2%;
  }
  footer > .row {
    display: block;
  }
  footer .footer-menu {
    display: inline;
    padding: 0;
  }
  footer .footer-menu .row {
    justify-content: space-between;
  }
  footer .footer-menu li {
    font-size: 16px;
  }
  article {
    margin-top: 0px;
  }
  .border-line {
    width: 100%;
  }
  .button-cart {
    font-size: 20px;
  }
}

/* 平板直式 */
@media screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    padding: 0 3%;
  }
  #homeProduct .column,
  #needProduct .column {
    width: 50%;
  }
  .graphic-novel,
  footer > .row > .column {
    width: 100%;
  }

  footer > .row {
    display: block;
  }
  footer .footer-menu {
    display: inline;
    padding: 0;
  }
  footer .footer-menu .row {
    justify-content: space-between;
  }
}

/* 平板橫式 */
@media screen and (min-width: 980px) {
}
