* {
  color: #7fc2c1;
  font-family: maple-web, Noto Sans TC, sans-serif, 微軟正黑體;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  /* border: 1px solid white; */
}

html {
  background-color: black;
  margin: 0;
}

body {
  background-color: #042b45;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1920px;
  padding: 0 8%;
  margin: auto;
}

.inline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inline-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h3 {
  width: 160px;
  margin: 40px auto;
  color: #dee6c7;
  text-align: center;
}

.normal-hover:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.footer-menu > li:hover,
.nav-menu > li:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

/* 導覽列css */
.nav-fixed{
    position: fixed;
    width: 100%;
    background-color: #042B45;
    z-index: 10;
}
.nav-bar {
  position: relative;
  padding: 20px 5px;
}

.nav-logo {
  width: 270px;
}

.nav-menu > li {
  font-size: 24px;
  list-style-type: none;
  display: inline;
  padding-left: 33px;
  text-align: right;
}

.icon-member {
  position: absolute;
  right: 60px;
  top: 25px;
  height: 25px;
}

.icon-cart {
  position: absolute;
  right: 20px;
  top: 25px;
  height: 25px;
}


/* banner css */

.banner{
  margin: auto;
}

/* .sliders {
  position: absolute;
  bottom: 20px;
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border: 2px solid #dee6c7;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.5;
}
.arrow-left,
.arrow-right {
  opacity: 0.8;
  height: 50px;
  background-color: #256a85;
}

.arrow-right {
  position: absolute;
  right: 20%;
  top: 45%;
}
.arrow-left {
  position: absolute;
  left: 20%;
  top: 45%;
} */

/* products css */

.product-box {
  width: 21%;
  min-width: 258px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.two-image {
  position: relative;
  width: 100%;
}

.product-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.two-image:hover > .product-cover {
  opacity: 0;
}

.two-image:hover > .product-hover {
  opacity: 1;
}

h4 {
  padding: 0 20px;
  margin: 5px 0;
  color: #dee6c7;
}

.price-container {
  padding: 0 20px;
  margin: 0;
  color: #dee6c7;
}

.price-line {
  text-decoration: line-through;
  color: #dee6c7;
}

.sale {
  color: #7fc2c1;
  font-size: 24px;
  padding-left: 5px;
}

.button-more {
  width: 160px;
  margin: 60px auto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

/* 二手專區 css */
.second-hand {
  background-image: url(../img/bg_home_secondHand@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.second-hand-image-box {
  width: 46%;
  min-width: 340px;
  padding: 10px 20px;
  margin-top: 40px;
}

/* 部落格 css */
.blog-box {
  width: 29%;
  min-width: 330px;
  padding: 10px 20px;
}

h2 {
  padding: 0 20px;
  font-size: 32px;
  margin-top: 15px;
  /* text-align: justify; */
}

h6 {
  font-size: 16px;
  padding: 0 20px;
  margin-top: -15px;
  color: #256a85;
}

/* footer css */
footer {
  background-image: url(../img/bg_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 30px 0;
}

.sns-container {
  display: flex;
  margin-bottom: 30px;
}

.footer-menu {
  margin-bottom: 30px;
}
.footer-menu > li {
  list-style-type: none;
  display: inline;
  padding: 10px 20px;
  color: #256a85;
  font-weight: 700;
  font-size: 18px;
}

.sns-icon {
  padding: 10px 10px;
  height: 30px;
}

.copyright {
  color: #256a85;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* 商品頁 */
article{
    padding-top: 80px;
    width: 100%;
}
.product-image {
  flex: 1;
}

.product-info-box {
  flex: 1;
  padding: 50px 5px;
}
.graphic-novel {
  width: 50%;
  min-width: 400px;
  margin-bottom: 20px;
}
h1 {
  color: #dee6c7;
  font-size: 36px;
  font-weight: 700;
  text-align: justify;
}
.price-container-big {
  font-size: 24px;
  color: #dee6c7;
  text-decoration: line-through;
}
.big-font{
    font-size: 42px;
    font-weight: 700;

}
.info-text {
  margin-bottom: 50px;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
}
.shop-item {
  display: flex;
  align-items: center;
  position: relative;
}
.counter {
  display: flex;
  font-size: 18px;
  border: 1px solid #7fc2c1;
}
.counter input {
  padding: 6px 10px;
  border: 1px solid #7fc2c1;
  background-color:#042B45 ;
  outline: none;
}
.counter-text {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}
#count {
  width: 30px;
  text-align: center;
}
#plus,#minus{
    cursor: pointer;
}
.button-cart {
  font-size: 24px;
  color: #dee6c7;
  background-color: #747222;
  padding: 12px 60px;
  position: absolute;
  right: 0;
  outline: none;
  border: none;
}

.button-cart:active{
    border: 2px solid #747222;
    background-color:#042B45;
}

.border-line{
    border-top: 4px solid #256A85;
    width: 50%;
    padding: 30px 0px;
    margin-top: 60px;
}

