* {
    color: #7fc2c1;
    font-family: maple-web, Noto Sans TC, sans-serif, 微軟正黑體;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    /* border: 1px solid white; */
}

html {
    background-color: black;
    margin: 0;
}

body {
    background-color: #042b45;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}
#s1{
    width: 100%;
}
h3 {
    width: 160px;
    margin: 40px auto;
    color: #dee6c7;
}

.normal-hover:hover {
    filter: brightness(1.15);
    cursor: pointer;
}

.footer-menu>li:hover,
.nav-menu>li:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

/* 導覽列css */
nav {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 160px;
}

.nav-logo {
    width: 270px;
    position: absolute;
    left: 100px;
}

.nav-menu>li {
    font-size: 24px;
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

.icon-member {
    position: absolute;
    right: 90px;
    height: 30px;
}

.icon-cart {
    position: absolute;
    right: 40px;
    height: 30px;
}

/* banner css */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.banner-content{
    width: 900px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.sliders{
    position: absolute;
    bottom: 20px;
    display: flex;
}
.dot{
    width: 10px;
    height: 10px;
    border:2px solid #dee6c7;
    border-radius: 50%;
    margin:0 5px;
    opacity: 0.5;
}
.arrow-left,.arrow-right{
    opacity: 0.7;
    height: 50px;
    background-color:  #256A85;
}

.arrow-right{
    position: absolute;
    right: 0;
    top: 45%;
   
}
.arrow-left{
    position: absolute;
    left: 0;
    top: 45%;
}

/* products css */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8%;
}

.product-info {
    width: 20%;
    min-width: 275px;
    margin: 0 10px 50px 10px;
}

.product-image {
    position: relative;
    width: 100%;
}

.product-hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

.product-image:hover>.product-cover {
    opacity: 0;
}

.product-image:hover>.product-hover {
    opacity: 1;
}

h4 {
    padding: 0 40px;
    margin: 5px 0;
    color: #dee6c7;
}

.price-container {
    padding: 0 40px;
    margin: 0;
    font-size: large;
    color: #dee6c7;
}

.price-line {
    text-decoration: line-through;
    color: #dee6c7;
}

.sale {
    color: #7fc2c1;
    font-size: 24px;
    padding-left: 5px;
}

.button-more {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

/* 二手專區 css */
.second-hand {
    background-image: url(./img_home/bg_home_secondHand@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 8%;
}

.second-hand-banner {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.image-container {
    width: 46%;
    min-width: 330px;
    padding: 10px 20px;
    margin-top: 40px;
}

/* 部落格 css */
.blog-container {
    display: flex;
    margin: auto;
    padding: 0 8%;
}

.blog-box {
    width: 30%;
    padding: 10px 20px;
}

h2 {
    padding: 0 20px;
    font-size: 32px;
    margin-top: 15px;
}

h6 {
    font-size: 16px;
    padding: 0 20px;
    margin-top: -15px;
    color: #256a85;
}

/* footer css */
footer {
    background-image: url(./img_home/bg_footer.svg);
    padding: 65px 8% 50px 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.sns-container {
    display: flex;
}

.footer-menu>li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
    color: #256a85;
    font-weight: 700;
    font-size: 18px;
}

.sns-icon {
    padding: 10px 10px;
    height: 30px;
}

.copyright {
    color: #256a85;
    font-size: 18px;
    font-weight: 700;
}